* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  height: 100%;
  background-image: linear-gradient(rgba(20, 66, 110, 0.8), rgba(53, 13, 56, 0.79)), url(https://lh3.googleusercontent.com/s4v4smOlk4dKm9ni3cieUnf6d7d9JvnXtywSXcTVhIn97njR2laNcwVJiAT1Rx1kNqwE=w720-h310);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  font-family: 'Rubik', sans-serif;
  padding-bottom: 3%;
}

/****************************
1) Header
2) Form section
3) Result section
4)Footer
******************************/


/* Header */
header {
  font-family: 'Cabin Sketch', cursive;
  margin: 5% 0;
}

.hd-h1 {
  font-size: 6rem;
  color: #fff;
  font-weight: bold;
}

/* Form section */
#formDiv {
text-align: center;
}

#formDiv label {
  color: #fff;
  font-size: 2rem;
}

#myInput {
 width: 70%;
 margin: 2% auto;
}

#myText {
  width: 70%;
  border: none;
  border-radius: 5px;
  padding: 0.8rem;
  margin: 0 auto;
}

#result {
  width: 60%;
  border: none;
  border-radius: 5px;
  background-color: #fff;
  margin: 5% auto;
  /* padding: 1rem;  if you add this, it creates blank column*/
}

/* Footer */
footer {
  margin-top: 5%;
}

footer p {
  color: #fff;
  font-size: 0.8rem;
}


/* JQuery */
/* No.3 */
h1 {
  color: tomato;
  text-transform: uppercase;

}

.new-style {
  color: white;
  background-color: purple;
  text-transform: lowercase;
}

.dark {
  background-color: darkgrey;
  color: white;
}
